<div class="small-12 large-6 small-centered large-centered columns">
  <div class="title-box">
    <h1 class = 'title-text'>Maintenance Ticket </h1>
  </div>
</div>
<br>
<br>

<div class="small-12 large-6 small-centered large-centered columns">
  <div class="weather-box">
      <h4 class="custom-text"><u><%= @maintenanceticket.trail.name %></u></h4>
  </div>
</div>

<div class="small-12 large-6 small-centered large-centered columns">
  <div class="weather-box">
      <h4 class="custom-text"><u>Location</u></h4>
      <p class= "custom-text-weather"><%= @maintenanceticket.location %></p>
  </div>
</div>

<div class="small-12 large-6 small-centered large-centered columns">
  <div class="weather-box">
      <h4 class="custom-text"><u>Description</u></h4>
      <p class= "custom-text-weather"><%= @maintenanceticket.body %></p>
  </div>
</div>

<div class="small-6 large-1 small-centered large-centered columns">
  <div class="ticket-button">
      <%= link_to "Edit", edit_trail_maintenanceticket_path(@trail.id, @maintenanceticket) %>
  </div>
</div>

<div class="small-6 large-1 small-centered large-centered columns">
  <div class="ticket-button">
      <%= link_to("Mark Completed", maintenancetickets_mark_completed_path(@maintenanceticket), :method => :put, :confirm => "Are you sure?") %>
  </div>
</div>
