<div class="small-12 large-6 small-centered large-centered columns">
  <div class="title-box">
    <h1 class = 'title-text'>Edit <%= @trail.name %></h1>
  </div>
</div>
<br>
<%= simple_form_for @trail do |f| %>
  <div class="row">
    <div class="column text-center small-12 large-6 small-centered large-centered">
      <div class="field">
        <%= f.email_field :name, :placeholder => "Name", autofocus: true %>
      </div>
      <div class="field">
        <%= f.text_field :address, :placeholder => "Address" %>
      </div>
      <div class="field">
        <%= f.number_field :length, :placeholder => "Length (mi.) (optional)" %>
      </div>
      <div class="field">
        <%= f.text_area :description, :placeholder => "Description (optional)", cols: 40, rows: 15 %>
      </div>
      <div class="field">
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
      </div>
      <%= f.hidden_field :creator_id, :value => current_user.id %>
      <div class="actions">
        <%= f.submit "Edit", :class => 'custom-button' %>
      </div>
      <div class="custom-button-small-alert">
        <%= link_to 'Delete Trail', trail_path(@trail), data: {:confirm => 'Are you sure?'}, :method => :delete %>
      </div>
    </div>
  </div>
<% end %>
