<div class="small-12 large-6 small-centered large-centered columns">
  <div class="title-box">
    <h1 class = 'title-text'>Sign In</h1>
  </div>
</div>


<br>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="column text-center small-12 large-6 small-centered large-centered">
    <div class="field">
      <%= f.email_field :email, :placeholder => "Email", autofocus: true %>
    </div>

    <div class="field">
      <%= f.password_field :password, :placeholder => "Password", autocomplete: "off" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Log in", :class => 'custom-button' %>
    </div>
    <% end %>
    <div class="custom-button-small">
      <%= link_to "Forgot Your Password?", new_user_password_path %>
    </div>
    <br>
    <div class="custom-button-small">
      <%= link_to "Want to Register?", new_user_registration_path %>
    </div>
  </div>
</div>
