<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <link href="https://fonts.googleapis.com/css?family=Farsan|Sanchez|Source+Sans+Pro|Suez+One" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="top-bar">
      <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon dark" type="button" data-toggle></button>
        </span>
        <a href="/">Trails</a>
      </div>
      <div id="responsive-menu">
        <% if user_signed_in? %>
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#">Create</a>
              <ul class="menu vertical">
                <div class="please-work">
                <li>Thing</li>
                <li><a href="/members/<%= current_member.id %>/reservations/new">Dining Reservation</a></li>
                <li><a href="/members/<%= current_member.id %>/groups/new">Group</a></li>
                </div>
              </ul>
            </li>
            <li><a href="/members/<%= current_member.id %>/teetimes">Teetimes</a></li>
            <li><a href="/members/<%= current_member.id %>/reservations">Reservations</a></li>
            <li><a href="/members/<%= current_member.id %>/groups">Groups</a></li>
          </ul>
        </div>
        <% end %>
          <% if user_signed_in? == false %>
            <div class="top-bar-right">
              <ul class="menu">
                <li><%= link_to 'Sign In', new_user_session_path, :method => :delete %></li>
                <li>&nbsp;</li>
              </ul>
            </div>
          <% else %>
            <div class="top-bar-right">
              <ul class="menu">
                <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
                <li><a href='/users/edit'><%= current_user.last_name %>, <%= current_user.first_name %></a></li>
                <li>&nbsp;</li>
              </ul>
            </div>
          <% end %>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
